{% extends 'base.html' %}
<h1>{% block title %}Customer List{% endblock %}</h1>
{% block content %}
<h2>Customer List</h2>
<a href="{% url 'add_customer' %}"><button>➕ Add Customer</button></a>

{% if messages %}
<ul>
  {% for message in messages %}
  <li style="color: green">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<form method="get" style="margin-bottom: 20px">
  <input
    type="text"
    name="q"
    placeholder="Search name, email or phone..."
    value="{{ request.GET.q }}"
  />
  <p>
    <label>
      <input
        type="checkbox"
        name="permanent"
        {%
        if
        request.GET.permanent
        %}checked{%
        endif
        %}
      />
      Permanent</label
    >
    <label
      ><input
        type="checkbox"
        name="bni"
        {%
        if
        request.GET.bni
        %}checked{%
        endif
        %}
      />
      BNI Member</label
    >
  </p>
  <button type="submit">🔍 Search</button>
</form>

<div class="table-container">
  <table border="1" cellpadding="8">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Primary Address</th>
        <th>Secondary Address</th>
        <th>Primary Phone</th>
        <th>Secondary Phone</th>
        <th>Permanent?</th>
        <th>BNI?</th>
        <th>Edited By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
      <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.address_primary }}</td>
        <td>{{ customer.address_secondary|default:'NA' }}</td>
        <td>{{ customer.phone_number_primary }}</td>
        <td>{{ customer.phone_number_secondary }}</td>
        <td>{{ customer.is_permanent|yesno:"Yes,No" }}</td>
        <td>{{ customer.is_bni_member|yesno:"Yes,No" }}</td>
        <td>{{ customer.edited_by.username }}</td>
        <td>
          <a href="{% url 'edit_customer' customer.id %}"
            ><button>Edit</button></a
          >
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No customers found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
