{% extends 'base.html' %}
<h2>{% block title %}Product List{% endblock %}</h2>
{% block content %}
<h2>Product List</h2>
<a href="{% url 'add_product' %}"><button>➕ Add Product</button></a>

{% if messages %}
<ul>
  {% for message in messages %}
  <li style="color: green">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<pre>
<form method="get" style="margin-bottom: 20px;">
  <input type="text" name="q" placeholder="Search..." value="{{ query|default:'' }}">
  
  <select name="type">
    <option value="">All Types</option>
    {% for t in asset_types %}
      <option value="{{ t }}" {% if asset_type == t %}selected{% endif %}>{{ t }}</option>
    {% endfor %}
  </select>

  <select name="sort">
    <option value="-purchase_date" {% if sort_by == "-purchase_date" %}selected{% endif %}>Newest First</option>
    <option value="purchase_date" {% if sort_by == "purchase_date" %}selected{% endif %}>Oldest First</option>
  </select>

  <button type="submit">Search</button>
</form>

</pre>

<table border="1" cellpadding="8">
  <tr>
    <th>Type</th>
    <th>Brand</th>
    <th>Model No</th>
    <th>Serial No</th>
    <th>Asset Id</th>
    <th>Purchase Date</th>
    <th>Warranty</th>
    <th>Status</th>
    <th>Checked By</th>
    <th>Actions</th>
  </tr>
  {% for p in products %}
  <tr>
    <td>{{ p.type_of_asset }}</td>
    <td>{{ p.brand }}</td>
    <td>{{ p.model_no }}</td>
    <td>{{ p.serial_no }}</td>
    <td>{{ p.asset_id }}</td>
    <td>{{ p.purchase_date }}</td>
    <td>
      {% if p.under_warranty %} {{ p.warranty_duration_months }} months
      <p></p>
      {% else %} No
      <p></p>
      {% endif %}
    </td>
  <td>
  {% if p.condition_status == 'sold' %}
    <span style="color: purple;">Sold</span>
  {% elif p.condition_status == 'missing' %}
    <span style="color: red;">Missing</span>
  {% elif p.condition_status == 'damaged' %}
    <span style="color: orange;">Damaged</span>
  {% elif p.is_available %}
    <span style="color: green;">Available</span>
  {% else %}
    <span style="color: gray;">Rented</span>
  {% endif %}
  </td>

  <!-- <td>₹ {{ p.net_profit }}</td> -->
    <td>{{ p.edited_by.username }}</td>
    <td>
      <a href="{% url 'add_repair' p.pk %}"><button>Repair</button></a> |
      <a href="{% url 'product_detail' p.pk %}"><button>View</button></a> |
      <a href="{% url 'edit_product' p.pk %}"><button>Edit</button></a> |
      <a href="{% url 'add_config' p.pk %}"><button>Config</button></a> |
      <a href="{% url 'clone_product' p.pk %}"><button>Clone</button></a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
