<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Laptop Rental{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles2.css' %}" />
    <!-- <link
      rel="icon"
      type="image/x-icon"
      href="ChatGPT Image Jun 7, 2025, 05_26_03 PM.webp"
    /> -->
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-left">
        <a href="/">Home</a>
        <a href="/rentals/">Ongoing Rentals</a>
        <a href="/customers/">Customers</a>
        <a href="/products/">Product List</a>
        <a href="/history/">Rental History</a>
        <a href="{% url 'sold_assets' %}">Sold Items</a>
      </div>
      <div class="nav-right">
        {% if user.is_authenticated %}
        <span style="color: white">Logged in as {{ user.username }} |</span>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </nav>

    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>
