body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #007bff;
  padding: 15px 0;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

nav a,
nav span,
nav form button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

nav form {
  display: inline;
}

nav form button:hover,
nav a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}
