body {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)),
    url("three.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  width: 400px;
  background: rgba(178, 230, 206, 0.95);
  padding: 30px;
  margin: 60px auto;
  border-radius: 15%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 5);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  color: white;
  font-size: 2rem;
  font-weight: 900;
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  transition: 1s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #0fa147;
  outline: none;
}

button[type="submit"] {
  width: 100%;
  background-color: #29753d;
  color: white;
  padding: 12px;
  border: 2px solid blacks;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: #29753d;
}

button[type="submit"]:hover {
  background-color: #97ac12;
}

.register {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #a4122a;
}

.para {
  text-align: center;
  font-size: 20px;
}
