.u-section-1 .u-sheet-1 {
  min-height: 382px;
}

.u-section-1 .u-text-1 {
  margin: 20px 508px 0;
}

.u-section-1 .u-line-1 {
  width: 190px;
  height: 3px;
  transform-origin: right center 0px;
  margin: -3px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 40px 97px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 408px;
    margin-right: 408px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 298px;
    margin-right: 298px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 208px;
    margin-right: 208px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 108px;
    margin-right: 108px;
  }
}.u-section-2 .u-text-1 {
  margin: 32px 482px 0 483px;
}

.u-section-2 .u-line-1 {
  width: 218px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -3px auto 0 461px;
}

.u-section-2 .u-gallery-1 {
  height: 296px;
  grid-template-columns: auto auto auto auto;
  margin-top: 46px;
  margin-bottom: 0;
  grid-gap: 20px 20px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 12px 12px;
}

.u-section-2 .u-gallery-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 36px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 5px;
    margin-right: 382px;
    margin-left: 383px;
  }

  .u-section-2 .u-gallery-1 {
    height: 244px;
    margin-top: 71px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-2 .u-text-2 {
    margin-top: 57px;
    margin-bottom: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 514px;
    margin-right: 272px;
    margin-left: 273px;
  }

  .u-section-2 .u-gallery-1 {
    height: 748px;
    grid-template-columns: auto auto;
    margin-top: -434px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: auto auto;
    grid-gap: 8px 8px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 30px;
    margin-bottom: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 2074px;
    margin-right: 182px;
    margin-left: 183px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 322px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2244px;
    grid-template-columns: auto;
    margin-top: -1962px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 34px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 780px;
    margin-right: 82px;
    margin-left: 83px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 122px;
  }

  .u-section-2 .u-gallery-1 {
    height: 824px;
    margin-top: -679px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: auto;
    grid-gap: 14px 14px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}