.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/97284221-01.jpeg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 547px;
}

.u-section-1-1 .u-text-1 {
  margin: 217px 111px 0;
}

.u-section-1-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 153px;
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 158px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 163px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/97284221-01.jpeg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 547px;
}

.u-section-1-2 .u-text-1 {
  margin: 0;
}

.u-section-1-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-top: 153px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 163px;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/97284221-01.jpeg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 547px;
}

.u-section-1-3 .u-text-1 {
  margin: 0;
}

.u-section-1-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1-3 .u-text-1 {
    width: auto;
    margin-top: 153px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 163px;
  }
}.u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/97284221-01.jpeg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 547px;
}

.u-section-1-4 .u-text-1 {
  margin: 0;
}

.u-section-1-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1-4 .u-text-1 {
    width: auto;
    margin-top: 153px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1-4 .u-text-1 {
    margin-top: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1-4 .u-text-1 {
    margin-top: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 163px;
  }
}.u-section-1-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/97284221-01.jpeg");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 547px;
}

.u-section-1-5 .u-text-1 {
  margin: 0;
}

.u-section-1-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1-5 .u-text-1 {
    width: auto;
    margin-top: 153px;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1-5 .u-text-1 {
    margin-top: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1-5 .u-text-1 {
    margin-top: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 163px;
  }
}.u-block-7add-5 {
  position: absolute;
  top: auto;
  bottom: -3px;
}

.u-block-7add-3 {
  position: absolute;
  left: 0;
}

.u-block-7add-6 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 662px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 488px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 28px;
}

.u-section-2 .u-group-1 {
  min-height: 418px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 50px 8px;
}

.u-section-2 .u-text-1 {
  font-weight: bold;
  margin: 0;
}

.u-section-2 .u-line-1 {
  width: 153px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 36px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 4px 3px 25px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 12px 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 488px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-slider-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 310px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/AMC11.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/97284221-02.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-2 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 39px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 402px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 282px;
    height: auto;
    margin-top: -311px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-left: -13px;
    margin-right: -13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 558px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-slider-1 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 17px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 731px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 65px auto -13px 0;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  min-height: 610px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-3 .u-text-1 {
  margin: 97px 0 0;
}

.u-section-3 .u-line-1 {
  width: 276px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -3px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 4px 3px 25px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 34px 0 0 auto;
  padding: 10px 72px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 305px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/ben-kolde-t9DooibgMEk-unsplash.jpg");
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-layout-cell-3 {
  min-height: 305px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/mahrous-houses-5AoOejjRUrA-unsplash.jpg");
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-layout-cell-4 {
  min-height: 305px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/alex-litvin-MAYsdoYpGuk-unsplash.jpg");
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-layout-cell-5 {
  min-height: 305px;
}

.u-section-3 .u-image-4 {
  background-image: url("images/shuttergames-8FWmjJIEXEw-unsplash.jpg");
}

.u-section-3 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 63px;
  }

  .u-section-3 .u-line-1 {
    width: 256px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 28px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 250px;
    background-position: 50% 100%;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 250px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 250px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 250px;
    background-position: 50% 0%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 31px;
  }

  .u-section-3 .u-line-1 {
    width: 142px;
    transform-origin: right center 0px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 302px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 302px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 0 3px 0 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 294px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 294px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1940px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-bottom: 46px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0 3px 0 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 373px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 370px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 375px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1520px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 37px;
  }

  .u-section-3 .u-line-1 {
    width: 266px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 291px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 291px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 255px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 712px;
}

.u-section-4 .u-text-1 {
  font-weight: bold;
  margin: 75px 30px 0;
}

.u-section-4 .u-line-1 {
  width: 517px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 25px 21px 0;
}

.u-section-4 .u-slider-1 {
  min-height: 414px;
  width: 1043px;
  margin: 25px auto 50px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  top: auto;
  bottom: 45px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-4 .u-gallery-1 {
  height: 354px;
  width: 904px;
  margin: 0 auto;
}

.u-section-4 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
}

.u-section-4 .u-back-image-1 {
  object-position: 43.23% 50%;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-back-image-2 {
  object-position: 25.92% 50%;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-back-image-3 {
  object-position: 97.37% 50%;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-gallery-2 {
  height: 354px;
  width: 904px;
  margin: 0 auto;
}

.u-section-4 .u-gallery-inner-2 {
  grid-gap: 10px 10px;
}

.u-section-4 .u-back-image-4 {
  object-position: 41.63% 50%;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-back-image-5 {
  object-position: 27.92% 50%;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-back-image-6 {
  object-position: 62.1% 50%;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-control-1 {
  background-image: none;
  width: 55px;
  height: 55px;
}

.u-section-4 .u-carousel-control-2 {
  background-image: none;
  width: 55px;
  height: 55px;
  left: auto;
  right: 0;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 41px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-slider-1 {
    min-height: 453px;
    height: auto;
    margin-top: 0;
    margin-bottom: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-gallery-1 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-gallery-2 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-4 .u-line-1 {
    width: 475px;
    margin-top: -3px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 25px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 740px;
    margin-top: 3px;
    margin-bottom: 36px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-1 {
    height: 680px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 65px;
  }

  .u-section-4 .u-gallery-2 {
    height: 680px;
    width: 595px;
    margin-right: auto;
    margin-left: 3px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1903px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 36px;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 1667px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1607px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-gallery-2 {
    height: 1607px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 9px;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 1049px;
    margin-top: 21px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-1 {
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-2 {
    height: 989px;
    margin-top: 1px;
    margin-bottom: -1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 592px;
}

.u-section-5 .u-text-1 {
  font-weight: bold;
  margin: 55px 30px 0;
}

.u-section-5 .u-line-1 {
  width: 451px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -3px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 30px 21px 0;
}

.u-section-5 .u-gallery-1 {
  height: 296px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px 20px;
  margin-top: 49px;
  margin-bottom: 49px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
}

.u-section-5 .u-gallery-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-5 .u-text-1 {
    font-weight: 700;
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-gallery-1 {
    height: 244px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-5 .u-line-1 {
    width: 404px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-5 .u-gallery-1 {
    height: 471px;
    margin-top: 40px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1969px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1649px;
    margin-top: 24px;
    margin-bottom: 46px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1433px;
  }

  .u-section-5 .u-text-1 {
    font-weight: bold;
  }

  .u-section-5 .u-line-1 {
    width: 238px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1038px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 370px;
}

.u-section-6 .u-group-1 {
  min-height: 260px;
  margin: 55px auto 55px 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 2px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-6 .u-group-1 {
    min-height: 278px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 620px;
}

.u-section-7 .u-slider-1 {
  width: 497px;
  min-height: 476px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 72px auto 0 33px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: -20px;
}

.u-section-7 .u-image-1 {
  background-image: url("images/wmcvfdlltph41.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-7 .u-image-2 {
  background-image: url("images/nathan-anderson-KHSPGJ3zP0M-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-7 .u-image-3 {
  background-image: url("images/71s1LRpaprL._AC_SL1500_.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-7 .u-image-4 {
  background-image: url("images/best-gaming-laptop-under-800-dollars.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-7 .u-image-5 {
  background-image: url("images/6a5a82535de17f5d2496e9da8b6d3f359bede717f51079d684675ca05f0d57c02f40ffc2fb6b79ece2d6e2dfcfbab2c45ac5ced1aa81d222655f2c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-7 .u-image-6 {
  background-image: url("images/ihjjjegijz.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-7 .u-image-7 {
  background-image: url("images/fjibfiioefz.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-7 .u-image-8 {
  background-image: url("images/phhhqnhfgqy.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-7 .u-image-9 {
  background-image: url("images/arswhaustax.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-7 .u-image-10 {
  background-image: url("images/ghhfkffgsky.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-10 {
  padding: 30px 50px;
}

.u-section-7 .u-image-11 {
  background-image: url("images/gmokgnmkccv.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-11 {
  padding: 30px 50px;
}

.u-section-7 .u-image-12 {
  background-image: url("images/hmmoppphopv.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-12 {
  padding: 30px 50px;
}

.u-section-7 .u-image-13 {
  background-image: url("images/4764011.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-13 {
  padding: 30px 50px;
}

.u-section-7 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  left: 0;
  position: absolute;
  background-image: none;
  right: auto;
}

.u-section-7 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

.u-section-7 .u-group-1 {
  width: 556px;
  min-height: 387px;
  margin: -451px 0 60px auto;
}

.u-section-7 .u-container-layout-14 {
  padding: 0 15px 30px 60px;
}

.u-section-7 .u-text-1 {
  margin: 16px 0 0;
}

.u-section-7 .u-line-1 {
  width: 402px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-7 .u-slider-1 {
    width: 425px;
    min-height: 425px;
    height: auto;
    margin-top: 96px;
    margin-left: 45px;
  }

  .u-section-7 .u-group-1 {
    width: 470px;
    margin-top: -438px;
    margin-bottom: 58px;
  }

  .u-section-7 .u-line-1 {
    width: 312px;
    transform-origin: right center 0px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-7 .u-slider-1 {
    width: 331px;
    min-height: 281px;
    margin-top: 146px;
    margin-left: 29px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-group-1 {
    width: 354px;
    margin-top: -366px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-container-layout-14 {
    padding-left: 30px;
  }

  .u-section-7 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-7 .u-slider-1 {
    margin-top: 331px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-group-1 {
    margin-top: -584px;
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-line-1 {
    transform-origin: left center 0px;
    width: 429px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 387px;
    margin-top: 484px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-1 {
    margin-top: -839px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-line-1 {
    width: 320px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 25px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 860px;
}

.u-section-8 .u-text-1 {
  margin: 55px 0 0;
}

.u-section-8 .u-line-1 {
  width: 612px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -3px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  background-position: 50% 50%;
  min-height: 305px;
}

.u-section-8 .u-image-1 {
  background-image: url("images/Troubleshoot.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  background-image: none;
  min-height: 305px;
}

.u-section-8 .u-container-layout-2 {
  padding: 29px 30px 30px;
}

.u-section-8 .u-text-2 {
  margin: 0 34px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-8 .u-image-2 {
  background-image: url("images/coffee-spilled-keyboard.jpg");
  min-height: 305px;
}

.u-section-8 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-8 .u-layout-cell-4 {
  background-image: none;
  min-height: 305px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  margin: 7px 0 0;
}

.u-section-8 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-5 {
  background-image: none;
  min-height: 334px;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-text-6 {
  margin: 0;
}

.u-section-8 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-6 {
  background-position: 50% 50%;
  min-height: 334px;
}

.u-section-8 .u-image-3 {
  background-image: url("images/5b0522616061cb0d9435b36b.jpg");
  background-position: 100% 50%;
}

.u-section-8 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-8 .u-layout-cell-7 {
  background-image: none;
  min-height: 334px;
}

.u-section-8 .u-container-layout-7 {
  padding: 30px;
}

.u-section-8 .u-text-8 {
  margin: 0;
}

.u-section-8 .u-text-9 {
  margin: 34px 0 0;
}

.u-section-8 .u-layout-cell-8 {
  background-position: 50% 50%;
  min-height: 334px;
}

.u-section-8 .u-image-4 {
  background-image: url("images/A0BFA25F-7DDF-4445-89E5-26ED3EF0EDFC.jpeg");
  background-position: 100% 50%;
}

.u-section-8 .u-container-layout-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-8 .u-text-1 {
    width: 730px;
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-line-1 {
    width: 618px;
    margin-top: 4px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 39px;
    margin-bottom: 39px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 252px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 4px;
    margin-right: -11px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-8 .u-image-2 {
    background-position: 50% 50%;
    min-height: 268px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 235px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 275px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 275px;
  }

  .u-section-8 .u-layout-cell-7 {
    min-height: 294px;
  }

  .u-section-8 .u-layout-cell-8 {
    min-height: 257px;
  }

  .u-section-8 .u-image-4 {
    background-position: 50% 100%;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1357px;
  }

  .u-section-8 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-line-1 {
    width: 594px;
    margin-top: -3px;
    margin-left: 63px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 23px;
    margin-bottom: 58px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 281px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 14px;
  }

  .u-section-8 .u-image-2 {
    min-height: 281px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 281px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 34px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 292px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
  }

  .u-section-8 .u-text-7 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 292px;
  }

  .u-section-8 .u-layout-cell-7 {
    min-height: 344px;
  }

  .u-section-8 .u-layout-cell-8 {
    min-height: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2620px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    position: relative;
    margin-top: 37px;
    margin-left: 90px;
    margin-right: 90px;
  }

  .u-section-8 .u-line-1 {
    width: 454px;
    margin-left: 133px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 137px;
  }

  .u-section-8 .u-image-2 {
    min-height: 422px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 475px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 438px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-8 {
    min-height: 515px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2391px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 35px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 35px;
    margin-bottom: 60px;
  }

  .u-section-8 .u-layout-cell-1 {
    order: 0;
    min-height: 266px;
  }

  .u-section-8 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 19px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-8 .u-image-2 {
    order: 2;
    min-height: 266px;
  }

  .u-section-8 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-8 .u-container-layout-4 {
    padding-bottom: 20px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 2px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 276px;
  }

  .u-section-8 .u-text-9 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-8 .u-layout-cell-8 {
    min-height: 324px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 599px;
}

.u-section-9 .u-text-1 {
  font-weight: bold;
  margin: 55px 30px 0;
}

.u-section-9 .u-line-1 {
  width: 870px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 2px auto 0;
}

.u-section-9 .u-text-2 {
  margin: 25px 21px 0;
}

.u-section-9 .u-gallery-1 {
  height: 296px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px 20px;
  margin-top: 49px;
  margin-bottom: 49px;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
}

.u-section-9 .u-gallery-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-back-image-3 {
  object-position: 22.83% 50%;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-9 .u-text-1 {
    font-weight: 700;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-gallery-1 {
    height: 244px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-9 .u-line-1 {
    width: 720px;
  }

  .u-section-9 .u-gallery-1 {
    height: 748px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2547px;
  }

  .u-section-9 .u-line-1 {
    width: 540px;
  }

  .u-section-9 .u-gallery-1 {
    height: 2244px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1716px;
  }

  .u-section-9 .u-text-1 {
    font-weight: bold;
  }

  .u-section-9 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-gallery-1 {
    height: 1413px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 276px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  margin: 157px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 531px;
}

.u-section-11 .u-text-1 {
  width: 743px;
  margin: 44px auto 0;
}

.u-section-11 .u-line-1 {
  width: 621px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -3px auto 0;
}

.u-section-11 .u-slider-1 {
  width: 570px;
  min-height: 316px;
  margin: 48px auto 0 0;
}

.u-section-11 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: -20px;
}

.u-section-11 .u-image-1 {
  background-image: url("images/RAM1.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-image-2 {
  background-image: url("images/SSD1.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-image-3 {
  background-image: url("images/Motherboard1.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-11 .u-image-4 {
  background-image: url("images/05tuhqxZKBjFsJ2paACZVok-1..15694884121.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-11 .u-image-5 {
  background-image: url("images/MdhoETzFvrzaKiqfuymfDA1.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-11 .u-image-6 {
  background-image: url("images/801.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-11 .u-image-7 {
  background-image: url("images/Build-an-editing-PC1.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-11 .u-image-8 {
  background-image: url("images/rgb-desk-hd-wallpaper-preview1.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-11 .u-image-9 {
  background-image: url("images/smps2.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-11 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  left: 0;
  position: absolute;
  right: auto;
  background-image: none;
}

.u-section-11 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

.u-section-11 .u-group-1 {
  width: 570px;
  min-height: 255px;
  margin: -285px 0 60px auto;
}

.u-section-11 .u-container-layout-10 {
  padding: 30px 60px;
}

.u-section-11 .u-text-2 {
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-11 .u-line-1 {
    width: 610px;
  }

  .u-section-11 .u-slider-1 {
    min-height: 372px;
    height: auto;
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-group-1 {
    min-height: 167px;
    margin-top: 33px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-11 .u-text-1 {
    width: 720px;
    margin-top: 48px;
  }

  .u-section-11 .u-line-1 {
    width: 602px;
  }

  .u-section-11 .u-slider-1 {
    margin-top: 24px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-group-1 {
    min-height: 166px;
    margin-top: 17px;
    margin-bottom: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-11 .u-text-1 {
    width: 540px;
  }

  .u-section-11 .u-line-1 {
    width: 471px;
  }

  .u-section-11 .u-slider-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-group-1 {
    margin-top: 20px;
    min-height: 254px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-container-layout-10 {
    padding-bottom: 26px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-line-1 {
    width: 340px;
  }

  .u-section-11 .u-group-1 {
    min-height: 308px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 583px;
}

.u-section-12 .u-text-1 {
  margin: 59px -80px 0;
}

.u-section-12 .u-line-1 {
  width: 623px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -3px auto 0 259px;
}

.u-section-12 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 19px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-12 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 4.66667px);
  grid-template-columns: calc(33.3333% - 4.66667px) calc(33.3333% - 4.66667px) calc(33.3333% - 4.66667px);
  grid-gap: 7px 7px;
  min-height: 302px;
}

.u-section-12 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-image-1 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-text-2 {
  margin: 2px 0 0;
}

.u-section-12 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-image-2 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-text-3 {
  margin: 2px 0 0;
}

.u-section-12 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-12 .u-container-layout-3 {
  padding: 30px;
}

.u-section-12 .u-image-3 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-text-4 {
  margin: 2px 0 0;
}

.u-section-12 .u-text-5 {
  margin: 37px 0 46px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 150px;
    margin-right: 150px;
  }

  .u-section-12 .u-line-1 {
    width: 584px;
    margin-left: 278px;
  }

  .u-section-12 .u-list-1 {
    height: auto;
    margin-left: initial;
  }

  .u-section-12 .u-image-1 {
    height: 168px;
  }

  .u-section-12 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-12 .u-image-2 {
    height: 168px;
  }

  .u-section-12 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-12 .u-image-3 {
    height: 168px;
  }

  .u-section-12 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-12 .u-text-5 {
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-left: 65px;
    margin-right: 65px;
  }

  .u-section-12 .u-line-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-12 .u-list-1 {
    margin-top: 16px;
    margin-left: initial;
  }

  .u-section-12 .u-repeater-1 {
    grid-auto-columns: calc(50% - 3.5px);
    grid-template-columns: calc(50% - 3.5px) calc(50% - 3.5px);
  }

  .u-section-12 .u-image-1 {
    height: 194px;
  }

  .u-section-12 .u-image-2 {
    height: 194px;
  }

  .u-section-12 .u-image-3 {
    height: 194px;
  }

  .u-section-12 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1741px;
  }

  .u-section-12 .u-text-1 {
    width: 322px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-12 .u-line-1 {
    transform-origin: right center 0px;
    width: 322px;
  }

  .u-section-12 .u-list-1 {
    margin-top: 51px;
    margin-left: initial;
  }

  .u-section-12 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-image-1 {
    height: 336px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-image-2 {
    height: 336px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-image-3 {
    height: 336px;
  }

  .u-section-12 .u-text-5 {
    margin-top: 51px;
    margin-bottom: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1291px;
  }

  .u-section-12 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-list-1 {
    margin-top: 24px;
    margin-left: initial;
  }

  .u-section-12 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-12 .u-container-layout-1 {
    padding-bottom: 12px;
  }

  .u-section-12 .u-image-1 {
    height: 196px;
  }

  .u-section-12 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-bottom: 12px;
  }

  .u-section-12 .u-image-2 {
    height: 196px;
  }

  .u-section-12 .u-text-3 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-bottom: 12px;
  }

  .u-section-12 .u-image-3 {
    height: 196px;
  }

  .u-section-12 .u-text-4 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-12 .u-text-5 {
    margin-top: 42px;
    margin-bottom: 57px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 493px;
}

.u-section-13 .u-text-1 {
  margin: 38px 208px 0;
}

.u-section-13 .u-line-1 {
  width: 619px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -3px auto 0;
}

.u-section-13 .u-gallery-1 {
  height: 296px;
  grid-template-columns: auto auto auto auto;
  margin-top: 40px;
  margin-bottom: 0;
  grid-gap: 20px 20px;
}

.u-section-13 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 12px 12px;
}

.u-section-13 .u-gallery-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-13 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-gallery-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-13 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-gallery-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-13 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-gallery-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-13 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-text-2 {
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-13 .u-text-1 {
    width: 724px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-13 .u-line-1 {
    width: 592px;
  }

  .u-section-13 .u-gallery-1 {
    height: 244px;
    margin-top: 38px;
    margin-bottom: 57px;
  }

  .u-section-13 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-13 .u-text-1 {
    width: 720px;
    margin-top: 42px;
  }

  .u-section-13 .u-gallery-1 {
    height: 748px;
    grid-template-columns: auto auto;
    margin-bottom: 0;
  }

  .u-section-13 .u-gallery-inner-1 {
    grid-template-columns: auto auto;
    grid-gap: 8px 8px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 2625px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    margin-top: 49px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-line-1 {
    width: 357px;
    margin-top: 0;
  }

  .u-section-13 .u-gallery-1 {
    height: 2244px;
    grid-template-columns: auto;
    margin-top: 24px;
    margin-bottom: 34px;
  }

  .u-section-13 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-13 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-13 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-13 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-13 .u-over-slide-4 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1261px;
  }

  .u-section-13 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-gallery-1 {
    height: 824px;
    margin-top: 13px;
    margin-bottom: 0;
  }

  .u-section-13 .u-gallery-inner-1 {
    grid-template-columns: auto;
    grid-gap: 14px 14px;
  }

  .u-section-13 .u-text-2 {
    margin-bottom: 57px;
  }
}html {
	scroll-behavior: smooth;
}