{% extends 'base.html' %}
<h1>{% block title %}Ongoing Rentals{% endblock %}</h1>
{% block content %}
<h2>Ongoing Rentals</h2>

{% if messages %}
<ul>
  {% for message in messages %}
  <li style="color: green">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<a href="{% url 'add_rental' %}"><button>➕ Add Rental</button></a>

<a href="{% url 'check_contracts' %}" class="btn btn-warning"
  ><button>🔄 Check Contract Expiry</button></a
>
<a href="{% url 'send_billing_reminder' %}" class="btn btn-info"
  ><button>📧 Send Billing Reminder</button></a
>

<form method="get">
  <input
    type="text"
    name="q"
    placeholder="Search rentals..."
    value="{{ request.GET.q }}"
  />
  <button type="submit">Search</button>
</form>

<!-- <div style="margin-bottom: 10px;">
  <a href="{% url 'rental_list' %}?filter=ongoing">
    <button {% if filter_type == 'ongoing' %}class="active"{% endif %}>🟢 Ongoing</button>
  </a>

  <a href="{% url 'rental_list' %}?filter=overdue">
    <button {% if filter_type == 'overdue' %}class="active"{% endif %}>🔴 Overdue</button>
  </a>

  <a href="{% url 'rental_list' %}">
    <button {% if not filter_type %}class="active"{% endif %}>🟡 All (Ongoing + Overdue)</button>
  </a>
</div> -->
<div class="table-container">
  <table border="1" cellpadding="8">
    <thead>
      <tr>
        <th>Asset ID</th>
        <th>Customer</th>
        <th>asset_type/Model</th>
        <th>Payment amount</th>
        <!-- <t h>Payment status</t> -->
        <th>Rental start</th>
        <th>Billing Date</th>
        <th>Contract No.</th>
        <th>Contract Validity</th>
        <th>Phone No.</th>
        <th>Address</th>
        <th>Made By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for rental in rentals %}
      <tr>
        <td>{{ rental.asset.asset_id }}</td>
        <td>{{ rental.customer.name }}</td>
        <td>{{ rental.asset.asset_type }} {{ rental.asset.model_no }}</td>
        <td>{{ rental.payment_amount }}</td>
        <!-- <td><span class="status-pending">{{ rental.payment.status }}</span></td> -->
        <td>{{ rental.rental_start_date }}</td>
        <td>{{ rental.billing_day }}</td>
        <td>{{ rental.contract_number }}</td>
        <td>{{ rental.contract_validity }}</td>
        <!-- |date:"F j, Y" -->
        <td>{{ rental.customer.phone_number_primary }}</td>
        <td>{{ rental.customer.address_primary }}</td>
        <td>{{ rental.edited_by.username }}</td>
        <td>
          <a href="{% url 'edit_rental' rental.id %}"
            ><button class="action-btn">✏️ Edit</button></a
          >
          {% if rental.status != 'completed' %} {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No ongoing rentals found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
