button {
  background-color: aqua;
  transition: transform 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: rgb(147, 165, 42);
}

.box {
  background-color: bisque;
  width: max-content;
  height: 3rem;
  border: 2px solid black;
  display: flex;
}
