/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  padding: 1rem 2rem;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar .nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.navbar .nav-links a:hover {
  color: #f39c12;
}

/* Hero Section */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('hero.jpeg');
  background-size: cover;
  height: 530px;
  color:white;
  font-weight: 900;
  text-align: center;
  justify-content: center;
  padding: 4rem 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.hero p{
    color: #c3cdcf;
}
.hero h1 {
  font-size: 3rem;
  margin-top: 6rem;
}

/* Flex Cards */
.shop-section {
  padding: 40px 20px;
  text-align: center;
 background-image: url('pet.jpeg')
}

.shop-section h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #333;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.product-card {
  background-color: #ffffff;
  border-radius: 12px;
  width: 250px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  padding-bottom: 15px;
}

.product-card:hover {
  transform: translateY(-20px);
  box-shadow: #333;
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.product-card h3 {
  margin: 15px 0 10px;
  font-size: 1.2em;
  color: #333;
}

.btn {
  background-color: #e91e63;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}
/* Footer */
.footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

/* Responsive */
@media (max-width: 768px) {
  .card {
    flex: 1 1 100%;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
  }
} 


